### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd

file_to_load = "Resources/cities.csv"

raw_data = pd.read_csv(file_to_load)
raw_data.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
total_purchase_byage = age_group["Purchase ID"].count()
purchase_value_byage = age_group["Price"].sum()

purchasing_analysis_age = pd.DataFrame({"Purchase Count": total_purchase_byage,
                            "Average Purchasing Price": (age_group["Price"].mean()),
                             "Total Purchase Value": purchase_value_byage,
                             "Average Total Purchase / Person": (purchase_value_byage / total_age_ct)})

purchasing_analysis_age.style.format({"Average Purchasing Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Total Purchase / Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
top_spender_group = purchase_data.groupby(['SN'])
                        
top_spender_analysis = pd.DataFrame({"Purchase Count": (top_spender_group["Purchase ID"].count()),
                                "Average Purchasing Price": (top_spender_group["Price"].mean()),
                              "Total Purchase Value": (top_spender_group["Price"].sum())})
top_spender_analysis.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Average Purchasing Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
most_pop_group = purchase_data.groupby(['Item ID','Item Name'])
                           
top_spender_analysis = pd.DataFrame({"Purchase Count": (most_pop_group["Purchase ID"].count()),
                                "Item Price": (most_pop_group["Price"].mean()),
                              "Total Purchase Value": (most_pop_group["Price"].sum())})
top_spender_analysis.sort_values(["Purchase Count"], ascending = False).head().style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:
top_spender_analysis.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})